<section>
    <div class="btn-group">
      <button class="button" routerLink="/customer/purchaseCoupon">purchase coupon</button>
      <button class="button" routerLink="/customer/getAll">show all purchased coupons</button>
      <button class="button" routerLink="/customer/getByType">show all purchased coupons by type</button>
      <button class="button" routerLink="/customer/getByPrice">show all purchased coupons by price</button>
      <button class="button" routerLink="/">log out</button>
    </div>
    </section>

   