<div class="div">show coupons by type</div>
<div class="example-container">
  <mat-form-field>
    <mat-select placeholder="select type" [(ngModel)]="couponType" [formControl]="form.get('type')">
      <mat-option value="RESTURANTS">Resturants</mat-option>
      <mat-option value="ELECTRICITY">Electricity</mat-option>
      <mat-option value="FOOD">Food</mat-option>
      <mat-option value="HEALTH">Health</mat-option>
      <mat-option value="SPORTS">Sports</mat-option>
      <mat-option value="CAMPING">Camping</mat-option>
      <mat-option value="TRAVELLING">Travelling</mat-option>
      <mat-option value="SPA">Spa</mat-option>
      <mat-option value="ATTRACTIONS">Attractions</mat-option>
      <mat-option value="ENTERTAINMENT">Entretainment</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <div>
    <button mat-raised-button (click)="click()" [disabled]="form.invalid">show coupons</button>
  </div>
</div>
<br>
<div *ngIf="done">
  <section>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Start Date</th>
          <th>Final Date</th>
          <th>Amount</th>
          <th>Coupon Type</th>
          <th>Message</th>
          <th>Price</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coupon of coupons">
          <td>{{ coupon.id }}</td>
          <td>{{ coupon.title }}</td>
          <td>{{ coupon.startDate| date:'d/M/yy' }}</td>
          <td>{{ coupon.endDate| date:'d/M/yy' }}</td>
          <td>{{ coupon.amount }}</td>
          <td>{{ coupon.couponType }}</td>
          <td>{{ coupon.message }}</td>
          <td>{{ coupon.price }}</td>
          <td><img src="{{ coupon.image }}"></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>