<section>
  <div class="btn-group">
    <button class="button" routerLink="/company/create">create coupon</button>
    <button class="button" routerLink="/company/remove">remove coupon</button>
    <button class="button" routerLink="/company/updateAll">update coupon</button>
    <button class="button" routerLink="/company/get">show coupon</button>
    <button class="button" routerLink="/company/getByType">show coupons by type</button>
    <button class="button" routerLink="/company/getByPrice">show coupons by price</button>
    <button class="button" routerLink="/company/getByDate">show coupons by date</button>
    <button class="button" routerLink="/company/getAll">show all coupons</button>
    <button class="button" routerLink="/">log out</button>
  </div>
</section>