<section>
  <div class="btn-group">
    <button class="button" routerLink="/admin/createCompany">create company</button>
    <button class="button" routerLink="/admin/removeCompany">remove company</button>
    <button class="button" routerLink="/admin/updateAllCompanies">update company</button>
    <button class="button" routerLink="/admin/getCompany">get company</button>
    <button class="button" routerLink="/admin/getAllCompanies">get all companies</button>
    <button class="button" routerLink="/admin/createCustomer">create customer</button>
    <button class="button" routerLink="/admin/removeCustomer">remove customer</button>
    <button class="button" routerLink="/admin/updateAllCustomers">update customer</button>
    <button class="button" routerLink="/admin/getCustomer">get company</button>
    <button class="button" routerLink="/admin/getAllCustomer">get all customers</button>
   
    <button class="button" routerLink="/">log out</button>
  </div>
</section>