<section>
  <div class="div">buy coupon</div>
  <div class="example-container">
    <mat-form-field>
      <textarea matInput required placeholder="enter coupons id " [(ngModel)]="id"
        [formControl]="form.get('id')">{{id}}</textarea>
    </mat-form-field>
    <br>
    <div>
      <button mat-raised-button (click)="click()" [disabled]="form.invalid">buy</button>
    </div>
  </div>
  <br>
  <div class="div">All Coupons Available In Store</div>
  <br>
  <div>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Start Date</th>
          <th>Final Date</th>
          <th>Amount</th>
          <th>Coupon Type</th>
          <th>Message</th>
          <th>Price</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coupon of coupons">
          <td>{{ coupon.id }}</td>
          <td>{{ coupon.title }}</td>
          <td>{{ coupon.startDate| date:'d/M/yy' }}</td>
          <td>{{ coupon.endDate| date:'d/M/yy'}}</td>
          <td>{{ coupon.amount }}</td>
          <td>{{ coupon.couponType }}</td>
          <td>{{ coupon.message }}</td>
          <td>{{ coupon.price }}</td>
          <td><img src="{{ coupon.image }}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>