.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .example-selected-value {
    margin: 15px 0;
  }
  h1 {
    color: blue
  
}



